<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/submitcomment.css">

</head>

<body>
  <div class="wrapper">
      <h3>Your comment has been submitted...</h3>
    <h3>Thank you: <%=userEmail%> </h3>
    <h5><a href="/">Home page</a></h5>
    <h5><a href="/signout">Sign out</a></h5>
  </div>
</body>

</html>